# Database URL for Prisma Client
DATABASE_URL="postgresql://postgres:postgres@localhost:54321/startup_mvp?schema=public"

# Redis Configuration (Optional, required for BullMQ background workers)
REDIS_URL="redis://localhost:6389"

# NextAuth config
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Meta / Facebook API Configuration
FB_APP_SECRET=
FB_VERIFY_TOKEN=
FB_PAGE_ACCESS_TOKEN=

# WhatsApp Cloud API Configuration
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
